@page "/"

    <AuthorizeView>
        <Authorized>
            <h3>Welcome</h3>
            </Authorized>
        <NotAuthorized>
            <p>Nothing to see here!</p>
        </NotAuthorized>
    </AuthorizeView>